<ngx-expandable
  [collapsedHeight]="collapsedHeight"
  [expandedHeight]="expandedHeight"
  class="expandable"
>
  <app-item
    [collapsedHeight]="collapsedHeight"
    [expandedHeight]="expandedHeight"
    [expanding]="expanding$ | async"
    [collapsing]="collapsing$ | async"
    [expanded]="expanded$ | async"
  ></app-item>
</ngx-expandable>

<div>
  Status:
  <span *ngIf="expanded$ | async">Expanded</span>
  <span *ngIf="collapsed$ | async">Collapsed</span>
  <span *ngIf="inProgress$ | async">In Progress</span>
</div>
