.expandable {
  display: inline-block;
  width: 400px;
  border: 1px solid black;
}

.collapsed-content {
  background-color: lightblue;
}

.expanded-content {
  background-color: lightgreen;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
}
